[submodule "vendor/secp256k1"]
	path = vendor/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "vendor/bn256"]
	path = vendor/bn256
	url = https://github.com/AntelopeIO/bn256
[submodule "vendor/bls12-381"]
	path = vendor/bls12-381
	url = https://github.com/AntelopeIO/bls12-381
